@{
    ViewData["Title"] = "NotAuthorized";
}

@* <h2>Não Autozizado</h2>

<p>Você não tem permissão para acessar esta página.</p> *@

<div class="gandalf-page">
    <div class="message">
        <h1>You shall not pass! Access Forbidden 403</h1>
    </div>

    <div class="gandalf">
        <div class="fireball"></div>
        <div class="skirt"></div>
        <div class="sleeves"></div>
        <div class="shoulders">
            <div class="hand left"></div>
            <div class="hand right"></div>
        </div>
        <div class="head">
            <div class="hair"></div>
            <div class="beard"></div>
        </div>
    </div>
</div>


