@model IEnumerable<FlyTickets2025.web.Data.Entities.ApplicationUser>

@{
    ViewData["Title"] = "Employee List";
}

<h1>Employee List</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email / Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            </tr>
        }
    </tbody>
</table>